.navbar {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  line-height: 60px;
  z-index: 30;

  .logo,
  .home {
    display: none;
  }

  .item {
    position: relative;
    margin-right: 16px;
    transition: .4s ease;
    text-align: center;
    animation: NavItemEnter .4s ease backwards;
    opacity: 1;

    &::before {
      position: absolute;
      top: 52%;
      left: 50%;
      margin-left: -30%;
      content: '';
      display: block;
      width: 60%;
      height: 8px;
      border-radius: 2px;
      background: rgba(255, 255, 255, .15);
      transition: .3s ease;
      transform: rotate(-10deg) scaleX(0);
    }

    &.active,
    &:hover {
      color: #efefef;
    }

    &.active{
      &::before {
        transform: rotate(-10deg) scaleX(1);
      }
    }
  }
}

@keyframes NavItemEnter {
  0% {
    transform: translate3d(-20%, 10%, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  .navbar {
    position: fixed;
    padding: 8px 30px 0;
    flex-direction: row;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 60px;
    font-size: 16px;
    color: #aaa;

    .logo {
      display: block;
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      width: 100%;
    }

    .item {
      margin-right: 32px;
    }

    .item::before {
      left: 30%;
      width: 100%;
      background: #fff;
      height: 2px;
      top: 77%;
      transform: scaleX(0);
      transform-origin: 0 0;
    }

    .item.active {
      &::before {
        transform: scaleX(1);
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    position: fixed;
    width: 120px;
    height: 100vh;
    padding: 0 0 0 24px;
    font-size: 14px;
    letter-spacing: .1em;
    color: #aaa;
    
    .logo {
      display: none;
    }
  }
}

@media screen and (max-width: 750px) {
  .navbar {
    top: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-size: 4vw;
    transform: translate3d(0, 100%, 0);
    transition: .4s ease;

    &.unFold {
      transform: translate3d(0, 0, 0);

      .home {
        opacity: 0;
      }
    }

    .item {
      padding-bottom: 1vh;
      width: 100%;
      margin-right: 0;
      margin-left: -.5em;
      letter-spacing: .1em;
      animation: none;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      color: #444;

      &::before {
        content: none;
      }
    }

    .home {
      position: absolute;
      display: flex;
      padding: 0 8vw;
      align-items: center;
      justify-content: space-between;
      top: -96vh;
      left: 0;
      width: 100vw;
      height: 6vw;
      transition: .4s .3s ease;
      font-size: 4.8vw;
      box-sizing: border-box;
      color: #fff;
      letter-spacing: .2em;

      svg {
        height: 4.8vw;
      }
    }

    .logo {
      display: block;
      width: 100%;
      height: 20vh;
      color: #fff;
      font-size: 8vw;
      padding-left: .2em;
      letter-spacing: .4em;
      text-align: center;
    }
  }
}