.content {
  position: relative;
  perspective: 1200px;
  perspective-origin: 50% 50vh;
}

@media screen and (max-width: 750px) {
  .content {
    position: absolute;
    top: 0;
    perspective: none;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background: linear-gradient(to bottom, #1c1c1c, #6a6a6a);
    transform: scale(.5) translate3d(0, 200%, 0);
    opacity: 0;

    &.active {
      transform: scale(1) translate3d(0, 0, 0);
      transition: .4s ease;
      opacity: 1;
    }

    &.fold {
      transition: .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      border-radius: 24px;
      filter: blur(6px);
      opacity: .1;
      
      &.section-0 {
        transform: scale(0.5) translate3d(-110%, 0%, 0);
      }
      &.section-1 {
        transform: scale(0.5) translate3d(0%, 0%, 0);
      }
      &.section-2 {
        transform: scale(0.5) translate3d(110%, 0%, 0);
      }
    }
  }
}