.framework {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.camera {
  position: relative;
  transform: rotate3d(0, 1, 0, -45deg);
  transform-style: preserve-3d;

  > div {
    position: absolute;
    top: 0;
    height: 90vh;
    color: #fff;
    overflow: hidden;
  }
}

.mainBoard {
  left: -20vw;
  width: 100vw;
  background: linear-gradient(to right, #666, #222);
  transform-origin: 100% 0;

  .projectTitle {
    right: 10vw;
    animation: MainTitleLeave 4s linear;
  }
}

@keyframes MainTitleLeave {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(200%, 0, 0);
  }
}

.leftBoard {
  left: -120vw;
  width: 100vw;
  background: linear-gradient(to right, #222 60%, #666);
  transform: rotate3d(0, 1, 0, 90deg);
  transform-origin: 100% 0;
}

.rightBoard {
  left: 80vw;
  width: 100vw;
  background: rgba(0, 0, 0, .15);
  transform: rotate3d(0, 1, 0, 90deg);
  transform-origin: 0 0;

  .projectTitle {
    left: -10vw;
    transform: translate3d(-100%, 0, 0);
    animation: SideTitleLeave 4s linear;
  }
}

@media screen and (min-width: 750px) {
  .framework {
    perspective: 1200px;
    perspective-origin: 50% 50vh;
  }
}

@keyframes showLeftBoard {
  0% {
    transform: rotate3d(0, 1, 0, 90deg) scaleX(0);
  }
  100% {
    transform: rotate3d(0, 1, 0, 90deg) scaleX(1);
  }
}

@keyframes showRightBoard {
  0% {
    transform: rotate3d(0, 1, 0, 90deg) scaleX(0);
  }
  100% {
    transform: rotate3d(0, 1, 0, 90deg) scaleX();
  }
}

@keyframes SideTitleLeave {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
}

@media screen and (max-width: 750px) {
  .camera {
    transform: none;
  }
  .leftBoard,
  .rightBoard {
    display: none;
  }
}
