.framework {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #3a3a3a;
}

.camera {
  position: relative;
  transform: rotate3d(0, 1, 0, -36deg);
  transform-style: preserve-3d;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
}

.board {
  position: absolute;
  top: 10vh;
  width: 100vw;
  height: 80vh;
  color: #fff;
  overflow: hidden;
}

.leftBoard {
  left: -118vw;
  transform: rotate3d(0, 1, 0, 90deg);
  transform-origin: 100% 0;
  
  .content {
    background: linear-gradient(to right, #3a3a3a 60%, #666);
  }
  
  .line {
    animation-delay: 0;
  }
}

.mainBoard {
  left: -20vw;
  transform-origin: 100% 0;

  .projectTitle {
    right: 10vw;
    animation: MainTitleLeave 4s linear;
  }

  .content {
    background: linear-gradient(to right, #666, #222);
  }

  .line {
    animation-delay: .6s;
  }
}

.rightBoard {
  left: 80vw;
  width: 300vw;
  transform: rotate3d(0, 1, 0, 90deg);
  transform-origin: 0 0;
  
  .projectTitle {
    left: -10vw;
    transform: translate3d(-100%, 0, 0);
    animation: SideTitleLeave 4s linear;
  }
  
  .content {
    background: linear-gradient(to right, rgba(0,0,0,.2) 50%, #3a3a3a);
  }

  .line {
    animation-delay: 1.2s;
  }
}

.selector {
  display: none;
}

@media screen and (min-width: 750px) {
  .framework {
    perspective: 1200px;
    perspective-origin: 50% 50vh;
  }

  .vline,
  .lineShort,
  .line {
    position: absolute;
    background: rgba(255, 255, 255, .8);
    z-index: 3;
  }

  .vline {
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
  }

  .lineShort {
    top: 26vh;
    width: 120px;
    height: 2px;
    z-index: -1;
    transform: scaleX(0);

    &:nth-child(2n) {
      top: 54vh;
    }
  }

  .line {
    width: 100%;
    height: 2px;
    transform-origin: 0 0;
    transform: scaleX(0);

    &:first-child {
      top: 0;
    }

    &:last-child {
      bottom: 0;
    }
  }

  .framework.enter {
    .line {
      animation-name: showObject;
      animation-duration: 1.2s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }

    .vline {
      animation: showObjectVertical 1.2s 1.2s linear forwards;
    }

    .arrow .path {
      animation: highlightArrow 1.2s 1.8s ease;
    }

    .lineShort {
      animation: showObject .6s 1.5s linear forwards;
    }
  }

  .selector {
    display: block;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  .arrow {
    padding: 0 80px 0 120px;
    width: 100%;
    height: 50%;
    box-sizing: border-box;

    &:hover {
      background: rgba(0, 0, 0, .1);

      .path {
        fill: #fff;
      }
    }

    .path {
      transition: .2s ease;
    }

    &:first-child {
      svg {
        transform: rotate(90deg);
      }
    }

    &:last-child {
      svg {
        transform: rotate(-90deg);
      }
    }
  }
}

@keyframes MainTitleLeave {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(200%, 0, 0);
  }
}


@keyframes showObject {
  0% {
    transform: scaleX(0);
    transform-origin: 0 0;
  }
  49% {
    transform: scaleX(1);
    transform-origin: 0 0;
  }
  50% {
    transform: scaleX(1);
    transform-origin: 100% 0;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 100% 0;
  }
}

@keyframes highlightArrow {
  0%, 100% {
    fill: #444;
  }
  50% {
    fill: #fff;
  }
}

@keyframes showObjectVertical {
  0% {
    transform: scaleY(0);
    transform-origin: 0 0;
  }
  49% {
    transform: scaleY(1);
    transform-origin: 0 0;
  }
  50% {
    transform: scaleY(1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scaleY(0);
    transform-origin: 0 100%;
  }
}

@keyframes SideTitleLeave {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
}

@media screen and (max-width: 750px) {
  .camera {
    transform: none;
  }
  .leftBoard,
  .rightBoard {
    display: none;
  }

  .board {
    top: 0;
    left: 0;
    height: 100vh;
  }

  .mainBoard .content {
    background: #222;
  }
}
