.profile {
  color: #c6c6c6;
  box-sizing: border-box;
  line-height: 2;
}

.title, .subTitle {
  color: #666;
}

@media screen and (min-width: 750px) {
  .profile {
    padding-top: 120px;
    padding-left: 220px;
    font-size: 16px;

    &.active {
      animation: showContent .6s .2s ease forwards;
      opacity: 0;
    }
  }

  .title {
    margin-top: 40px;
    font-size: 24px;
  }

  .subTitle {
    font-size: 14px;
  }
}

@keyframes showContent {
  0% {
    transform: translate3d(6px, 6px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@media screen and (max-width: 750px) {
  .profile {
    font-size: 3.2vw;
    padding: 12vh 8vw 0;
  }

  .title {
    margin-top: 3vh;
    font-size: 4.8vw;
  }

  .subTitle {
    font-size: 2.4vw;
  }
}