.profile {
  padding: 12vh 8vw 0;
  color: #c6c6c6;
  font-size: 3.2vw;
  box-sizing: border-box;
  line-height: 2;
}

.title {
  margin-top: 3vh;
  font-size: 4.8vw;
  color: #666;
}

.subTitle {
  font-size: 2.4vw;
  color: #666;
}