.starter {
  position: relative;
  top: -12vh;
  .line {
    stroke: #555;
    stroke-width: 2;
    fill: none;
    stroke-dasharray: 420;
    stroke-dashoffset: 1260;
    animation: MusicAr_LineFlow 3.2s linear forwards infinite;
  }
}

@keyframes MusicAr_LineFlow {
  0% {
    stroke-dashoffset: 1260;
  }
  50% {
    stroke-dashoffset: 840;
  }
  100% {
    stroke-dashoffset: 420;
  }
}

.musicAr {
  position: absolute;
  right: -2vw;
  bottom: 0vh;
  width: 100%;
  transform: rotate(-20deg);
  opacity: .05;

  .guitarBody {
    stroke: #fff;
    stroke-dasharray: 180;
    stroke-dashoffset: 180;
    transition: 1.2s ease;
  }
}

.newyear {
  position: relative;
  height: 60vh;
  opacity: .2;

  svg {
    position: absolute;
    top: 2vh;
    right: 6vw;
  }
}