.shelf-robot-2 {fill:#ffefd4;}
.shelf-robot-3 {fill:#003b57;}
.shelf-robot-4 {fill:#fff;}
.shelf-robot-5 {fill:#ffefd4;}
.shelf-robot-6 {fill:#66c0cc;}
.shelf-robot-7 {opacity:0.5;fill:#fff;mix-blend-mode:soft-light;}
.shelf-robot-8 {fill:#fff;mix-blend-mode:soft-light;}
.shelf-robot-9 {mix-blend-mode:multiply;fill:#37dde7;}