.musicAr {
  .object {
    transform: translate3d(100%, 100%, 0);
    animation: MusicAr_ShowObject .6s cubic-bezier(0, 0, 0, 1.2) forwards;
  }

  .line {
    stroke: #555;
    stroke-width: 2;
    fill: none;
    stroke-dasharray: 420;
    stroke-dashoffset: 1260;
    animation: MusicAr_LineFlow 3.2s linear forwards infinite;
  }
}
@keyframes MusicAr_ShowObject {
  0% {
    transform: translate3d(100%, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes MusicAr_LineFlow {
  0% {
    stroke-dashoffset: 1260;
  }
  50% {
    stroke-dashoffset: 840;
  }
  100% {
    stroke-dashoffset: 420;
  }
}