.showboard {
  position: relative;
  transform: rotate3d(0, 1, 0, -45deg);
  transform-style: preserve-3d;

  > div {
    position: absolute;
    top: 0;
    height: 90vh;
    color: #fff;
    overflow: hidden;
  }
}

.sideLeftBoard {
  left: -120vw;
  width: 100vw;
  background: linear-gradient(to right, #222 60%, #666);
  transform: rotate3d(0, 1, 0, 90deg);
  transform-origin: 100% 0;
}

.projectTitle {
  position: absolute;
  top: 24vh;
  font-size: 64px;
}

.mainBoard {
  left: -20vw;
  width: 100vw;
  background: linear-gradient(to right, #666, #222);
  transform-origin: 100% 0;

  .projectTitle {
    right: 10vw;
    animation: MainTitleLeave 4s linear;
  }
}

.sideRightBoard {
  left: 80vw;
  width: 100vw;
  background: rgba(0, 0, 0, .15);
  transform: rotate3d(0, 1, 0, 90deg);
  transform-origin: 0 0;

  .projectTitle {
    left: -10vw;
    transform: translate3d(-100%, 0, 0);
    animation: SideTitleLeave 4s linear;
  }
}

@keyframes MainTitleLeave {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(200%, 0, 0);
  }
}

@keyframes SideTitleLeave {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
}

.slogan {
  position: absolute;
  padding-left: 8vw;
  bottom: 20vh;
  font-size: 64px;
  letter-spacing: .1em;
  box-sizing: border-box;
}

@media screen and (max-width: 750px) {
  .showboard {
    transform: none;
  }
  .sideLeftBoard,
  .sideRightBoard {
    display: none;
  }

  div.mainBoard {
    position: relative;
    top: 60px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 60px);
    background: linear-gradient(to bottom, #222, #666);
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    text-align: center;
    overflow: auto;
  }

  .projectItem {
    position: relative;
    height: calc(100vh - 60px);
  }

  .slogan {
    position: absolute;
    padding-top: 32px;
    padding-left: 0;
    bottom: 16vh;
    width: 100%;
    font-size: 12vw;
  }

  .content {
    position: absolute;
    top: 10vh;
    left: 50%;
    margin-left: -20vh;
    width: 40vh;
    height: 40vh;
    background: linear-gradient(to bottom, #212121, #474747);
    border-radius: 50%;
  }

  .slogan > p {
    text-align: center;
    color: #444;
  }

  .projectItem.end {
    padding-top: 36vh;
    padding-left: .6em;
    font-size: 6vw;
    letter-spacing: .2em;
    box-sizing: border-box;
  }
}
