.board {
  left: -20vw;
  width: 100vw;
  transition: .8s ease;
}

.slogan {
  width: 100%;
  box-sizing: border-box;
  color: #4c4c4c;

  .primary,
  .secondary,
  .secondary span::before {
    transition-duration: .6s;
    transition-timing-function: ease;
  }

  .secondary {
    span {
      position: relative;
    }

    span::before {
      position: absolute;
      content: '';
      bottom: 0;
      width: 100%;
      height: 50%;
      background: rgba(255, 255, 255, .2);
      transition: .4s ease;
      transform-origin: 0 0;
      transform: scaleX(0);
    }
  }

  &.active {
    .primary,
    .secondary {
      transition-delay: .4s;
    }
  
    .secondary span::before {
      transition-delay: .8s;
    }

    .primary {
      color: #f6f6f6;
    }

    .secondary {
      color: #eee;

      span::before {
        transform: scaleX(1);
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .projectItem {
    position: relative;
    height: 100vh;
  }

  .slogan {
    padding-top: 10vh;
    padding-left: 10vw;
    width: 60%;
  }
  
  .primary {
    font-size: 84px;
    letter-spacing: .2em;
  }

  .secondary {
    margin-top: 4vh;
    font-size: 48px;
    letter-spacing: .5em;
    line-height: 1.5;
  }

  .more {
    padding-top: 12vh;
    text-align: center;
    line-height: 2;
    letter-spacing: .2em;
    font-size: 32px;
    color: #ccc;
  }

  .projectItem.end {
    padding-top: 22vh;
    text-align: center;
    letter-spacing: .2em;
    font-size: 32px;
  }
}

@media screen and (max-width: 750px) {
  div.board.override {
    position: relative;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #1c1c1c, #6a6a6a);
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .titleArea {
    padding-top: 8vh;
    padding-bottom: 2vh;
    padding-left: 6vw;
    text-align: left;
    
    .sectionTitle {
      font-size: 12vw;
      color: #ccc;
      letter-spacing: .1em;
    }
  
    .subTitle {
      padding-left: .1em;
      font-size: 4.8vw;
      text-align: left;
      color: #aaa;
      letter-spacing: .2em;
    }
  }

  .projectDesc {
    position: absolute;
    right: 10vw;
    bottom: 8vh;
    width: 90vw;
    text-align: right;
    color: #3d3d3d;
    font-size: 4vw;
    line-height: 2;
  }

  .projectItem {
    position: relative;
    top: 60px;
    height: 110vh;
  }

  .slogan {
    padding-left: 8vw;
    margin-top: 2vh;
    letter-spacing: .08em;
    text-align: left;

    &.active {
      .primary,
      .secondary {
        transition-delay: .2s;
      }
    
      .secondary span::before {
        transition-delay: .4s;
      }
    }

    .primary {
      font-size: 16vw;
      width: 80%;
      margin-bottom: .2em;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
      transition: .6s ease;
    }

    .secondary {
      padding-left: .1em;
      font-size: 5.2vw;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
      transition: .6s ease;
    }
  }

  .more {
    padding-top: 20vh;
    height: 100vh;
    color: #666;
    line-height: 2;
    padding-bottom: 20vh;
    box-sizing: border-box;
    letter-spacing: .1em;
    font-size: 6vw;
  }

  .projectItem.end {
    height: 100vh;
    padding-top: 46vh;
    padding-left: .6em;
    font-size: 6vw;
    letter-spacing: .2em;
    box-sizing: border-box;
  }
}
