html,body {
  width: 100%;
  height: 100%;
}

#app {
  font-family: 'Basic';
}

@font-face {
  font-family: 'Basic';
  src: url('./assets/HelveticaNeueThin.ttf');
}

@media screen and (max-width: 750px) {
  #app {
    position: relative;
    overflow: hidden;
  }

  html, body {
    background: #111;
  }
}